.navbar {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}

.navbar_links_container {
	align-items: center;
	display: flex;
	flex-direction: row;
    justify-self: center;
    align-self: center;
    justify-content: center;
    flex-grow: 1;
}

.navbar_alt {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
    background-color: rgba(10, 10, 15, 0.5);
}

.link {
    color: white;
    padding: 0.1em 1em;
    transition-duration: 300ms;
    font-size: 1.15rem;
    font-weight: 500;
    border-bottom: solid 2px transparent;
}

.active_link {
    border-color: var(--primary-color);
}

.alt_link {
    color: rgb(212, 118, 255)
}

.unfocused_link {
    color: rgb(116, 116, 116);
}

@media (max-width: 768px) {
    .navbar {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.75rem;
        background-color: rgba(10, 10, 15, 0.5);
        justify-content: unset;
    }
}